*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + (2 * 6rem));
}

.section {
  width: 30%;
  border: 1px solid #eee;
  box-shadow: 0 3px 8px #eee;
  margin: 10rem auto;
  padding: 1.7rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.input-field {
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  font-size: 1rem;
}

input[type=submit] {
  height: 3rem;
  width: 100%;
  background-color: #333;
  color: #fff;
  width: 150px;
  border-radius: 27px;
}
